.form {
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    padding: 20px;
  }
  
  /* Estilo do formulário */
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* Estilo dos títulos */
   form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
    text-align: center;
  }
  
  /* Estilo dos rótulos */
  label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #fff;
  }
  
  /* Estilo dos campos de entrada */
  form input, form textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 2px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* Estilo do botão */
  form button {
    color: white;
    border: none;
    border-radius: 4px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .clean-form button:hover {
    background-color: #4cae4c;
  }